.app {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-right: 15px solid black;
  border-left: 15px solid black;
  border-bottom: 15px solid black;
  text-align: center;
}

h1 {
  color: white
}

img{
  border-radius: 8px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 5%;
}


.welcome-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: top;
background-color: white;
border: 5px solid white;
border-radius: 5px;

}


.game-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: top;
background-color: white;
border: 5px solid white;
border-radius: 5px;

}
.deck-container{
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
}
.deck-builder-container{
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
}

.submit-deck-button{
  color: white;
}


.movie-card{
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  background-color: rgb(236, 236, 236);
  flex-basis: 10%;
  border: 2px solid black;
  border-radius: 8px;
  justify-content: baseline;
}

.movie-card img{
  margin: 10px;
  width: 50%;
  height: auto; 
}

.movie-card h4{
margin: 2px;

}
.movie-card p{
  margin: 2px;
  margin-bottom: 10px;
}

.player-card p{
  margin-top: 2px;
  margin-bottom: 20px;
}

.comparator{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 5%;
color: black;


}

.comparator-text h1{
  color: black;
}